html, body {
    overflow-y: visible;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    padding: 0;
    margin: 0;
    height:100px;
    width: 100%;
    background-color: #272727;
}

header .vertical-container {
  height: 100px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

header span {
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    margin-top: 100px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*-webkit-justify-content: center;
            justify-content: center;*/
}

.content webview {
    width: 1024px;
    height: 768px;
    border: 1px #272727 solid;
}
